body {
    background-color: #bdedff;
    color: black;
    text-align: center;
}
header {
    background-color: #6d5959;
    color: #ffc0cb;
}
h2 {
    background-color: #1b998b;
    color: #fffd82;
}
h3 {
    background-color: #1b998b;
    color: #fffd82;
}